

/*---------------- PC用 ----------------*/

@media all and (max-width:1400px) {
    

.mockup-image img {
    left: 150px;
    height: 350px;
    width: 250px;
}
.introduction {

    margin-right: 50px;
}
.introduction h1 {
    font-size: 50px;
}
.introduction span {
    font-size: 55px;
}

/*----------- feebaしよう ---------*/
.go-heading h1 {
    font-size: 55px;
}
.go-heading span {
    font-size: 65px;
}
.btn-go-feeba {
    padding: 18px 80px;
}
.btn-go-feeba img {
    width: 130px;
    height: 47px;
}
.btn-go-feeba span {
    font-size: 35px;
}

}

/*---------------- タブレット用 ----------------*/

@media all and (max-width:1060px) {
    header {
        padding: 0;
    }
    .header-logo {
        width: 120px;
        height: 30px;
        margin-top: 25px;
        margin-left: 20px;
    }
    .header-right {
        height: 100px;
        line-height: 90px;
    }
    .header-right a {
        margin-right: 30px;
        font-size: 15px;
    }
    .top-heading {
        font-size: 60px;
    }
    .top-heading span {
        font-size: 90px;
    }

    /*-------- feebaとは? ----------*/
    .second-wrapper {
        height: 400px;
    }
    .mockup-container {
        height: 400px;
    }
    .mockup-image img {
        left: 60px;
        height: 250px;
        width: 150px;
    }
    .introduction {
        margin: 60px 0 0 0;
        width: 55%;
    }
    .introduction h1 {
        font-size: 40px;
    }
    .introduction span {
        font-size: 50px;
    }
    .introduction h3 {
        font-size: 16px;
        margin-top: 30px;
    }
    .introduction p {
        margin-top: 20px;
        font-size: 14px;
    }

    /*---------- feebaでできること -------------*/
    .function-wrapper {
        height: 1750px;
    }
    .function-heading h1 {
        font-size: 40px;
    }
    .function-heading span {
        font-size: 50px;
    }
    .functions {
        flex-direction: column;
        padding: 0 50px;
    }
    .function {
        width: 100%;
        height: 450px;
    }
    .function-icon p {
        font-size: 20px;
    }
    .function-text {
        font-size: 14px;
    }
    /*-------- feebaしよう -----------*/

    .go-section {
        margin: 200px 0 250px 0;
    }
    .go-heading h1 {
        font-size: 45px;
    }
    .go-heading span {
        font-size: 55px;
    }
    .btn-go-feeba {
        padding: 10px 40px 6px 40px;
    }
    .btn-go-feeba img {
        width: 80px;
        height: 27px;
    }
    .btn-go-feeba span {
        font-size: 20px;
    }

    /*--------- footer ----------*/

    .btn-twitter {
        height: 220px;
    }
    .fa-twitter {
        margin-top: 50px;
        font-size: 20px;
    }
    .footer-logo  {
        margin-top: 20px;
        margin-left: 0;
    }

    /*------------- スマホ用 -------------*/

    @media all and (max-width: 501px){

    .header-right a {
        margin-right: 20px;
    }
    .top-wrapper {
        height: 550px;
    }
    .top-heading {
        font-size: 30px;
        padding: 0 10px;
        margin-top: 50px;
    }
    .top-heading span {
        font-size: 60px;
    }

    /*-------- feebaとは? ----------*/


    .second-wrapper {
        margin-top: 100px;
        height: 650px;
    }
    .mockup-container {
        height: 650px;
    }
    .mockup-image {
        width: 100%;
    }

    .mockup-image img {
        left: 80px;
    }
    .introduction {
        margin: 20px 0 0 0;
        padding: 0 15px 0;
        width: 100%;
        text-align: center;
        z-index: 1;
        
    }
    .introduction h1 {
        font-size: 35px;
        margin-top: 40px;
    }
    .introduction span {
        font-size: 45px;
    }
    .introduction h3 {
        font-size: 14px;
        margin-top: 40px;
    }
    .introduction p {
        margin-top: 30px;
        font-size: 12px;
    }

    /*---------- feebaでできること -------------*/

    .function-wrapper {
        height: 1650px;
        margin-top: 120px;
    }
    .function-heading {
        padding: 0 10px;
    }
    .function-heading h1 {
        font-size: 24px;
    }
    .function-heading span {
        font-size: 35px;
    }
    .functions {
        flex-direction: column;
        padding: 0 20px;
    }
    .function {
        width: 100%;
        height: 420px;
        opacity: 1;
    }
    .function-icon img {
        height: 150px;
    }
    .function-icon p {
        font-size: 20px;
    }
    .function-text {
        font-size: 14px;
    }

    /*---------- feebaする -------------*/

    .go-section {
        margin: 250px 0 250px 0;
    }
    .go-heading h1 {
        font-size: 30px;
        padding-left: 15px;
    }
    .go-heading span {
        font-size: 40px;
    }
    .btn-go-feeba {
        padding: 13px 40px 3px 40px;
    }
    .btn-go-feeba img {
        width: 80px;
        height: 27px;
    }
    .btn-go-feeba span {
        font-size: 20px;
    }


    }

}